body{
    margin: 15px;
    padding: 50px;
    background-color: transparent;
  }


.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .feed-form input {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
  }
  
  .button_submit:hover, .feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
  }
  
  .button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: rgb(213, 114, 114);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }
  .section_form{
    padding: 20px;
  }