<div class="cardForUpdate">
    <form [formGroup]="updateFood">
            <span class="card__title">UPDATE FOOD ITEM</span>
            <div class="card__form">
                <input placeholder="Item Price"  formControlName="itemPrice" >
                <input placeholder="Item Discription"  formControlName="itemDescription">
                <button class="sign-up" mat-dialog-close (click)="updateFoodItem()" [disabled]="!updateFood.valid">Save</button>
            </div>
    </form> 
    </div>
