<body>
  <section>
    <div class="container">


    <div class="leftcont">
      <h2>Unlock a new revenue stream</h2>
      <p>Uber’s global platform gives you the flexibility, visibility and customer insights you need to connect with
        more customers. Partner with us today.</p>
    </div>
    <div class="rightcont">
      <form  [formGroup]="signupForm" (ngSubmit)="sendSignUpData()">
        <div class="getstarted">
          <h3>Get started,</h3>
        </div>



        <div class="email"><input class="input" placeholder="Email" type="email"  formControlName="email"><mat-icon id="tickbtn" (click)="openOTPDailog()">check_circle</mat-icon></div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <code class="error-message" *ngIf="signupForm.get('email')?.hasError(error.type) && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
              {{ error.message }}
            </code>
            <code class="error-message" *ngIf="signupForm.get('email')?.errors?.['pattern']">
              email@email.com 
            </code>
          </ng-container>
        </div>



        <input class="input" placeholder="Name" type="text" formControlName="name" >
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.name">
            <code class="error-message" *ngIf="signupForm.get('name')?.hasError(error.type) && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">
              {{ error.message }}
            </code>
          </ng-container>
        </div>
        <input class="input" placeholder="+91" type="tel" formControlName="phoneNo" >
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.phoneNo">
            <code class="error-message" *ngIf="signupForm.get('phoneNo')?.hasError(error.type) && (signupForm.get('phoneNo')?.dirty || signupForm.get('phoneNo')?.touched)">
              {{ error.message }}
            </code>
            <code class="error-message" *ngIf="signupForm.get('phoneNo')?.errors?.['pattern']">
              7894561234
            </code>
          </ng-container>
        </div>



        <input class="input" placeholder="Password" type="password" formControlName="password" >
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <code class="error-message" *ngIf="signupForm.get('password')?.hasError(error.type) && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
              {{ error.message }}
            </code>
            <code class="error-message" *ngIf="signupForm.get('password')?.errors?.['pattern']">
              Password@123
            </code>
          </ng-container>
        </div>



        <input class="input" placeholder="Confirm Password" type="password" formControlName="confirmPassword" >
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirmPassword">
            <code class="error-message" *ngIf="signupForm.get('confirmPassword')?.hasError(error.type) && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)">
              {{ error.message }}
            </code>
            <code class="error-message" *ngIf="signupForm.get('confirmPassword')?.errors?.['pattern']">
              Password@123
            </code>
          </ng-container>
        </div>
          <code class="error-message"  *ngIf="signupForm.errors?.['mustMatch']===false">
            Password and Confirm Password should match.
          </code>



        <p>By clicking "Register yourself," you agree to Foodie General Terms and Conditions and acknowledge you have read the Privacy Policy.
        </p>
        <button [disabled]=!verifed type="submit" >Register yourself</button>
      </form>
    </div>
  </div>
  </section>
</body>
