<div class="profile">
    <img class="image1" src="../../../../assets/food images/pexels-chan-walrus-958546.jpg" alt="">
    <div >
        <h2>{{sellerDetails?.name}}</h2>
        <div class="locate">
            <i class='fas fa-map-marker-alt' style='font-size:24px'></i>  <h4 style="margin-left: 6px;">chennai</h4>
        </div>
            <button class="edit-btn" (click)="editProfile()">
                Edit Profile
                 <div class="arrow-wrapper">
                     <div class="arrow"></div>
             
                 </div>
             </button>
    </div>
 

