<body>
  <div class="container">
    <div class="alldetails">

    <div class="details">
      <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Swiggy Blog</a></li>
      </ul>
    </div>

    <div class="details">
      <ul>
        <li><a href="">Help & Support</a></li>
        <li><a href="">Partner with us</a></li>
        <li><a href="">Ride with us</a></li>
      </ul>
    </div>

    <div class="details">
      <ul>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Refund & Cancellation</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>
    </div>


    <hr>
    <img src="../../assets/food images/Foodlogo.png"  class="flogo" alt="" srcset="">
    <h2><strong>.foodie</strong></h2>
  </div>
</body>
